@use '/styles/mixins' as *;

.successBox {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.linkBox {
	position: relative;
	.getLinkInput {
		padding: 1rem 1.5rem;
		background: #FFFFFF;
		border: 1px solid #1F343E;
		border-radius:  8px 0 0 8px ;
		font-size: 20px;
		color: #6D7A80;
		width: 70%;
		@include media-phone-up {    
			width: 80%;
		}
	}
	.tooltip {
		position: absolute;
		top: -100%;
		right: 0;
		background: rgba(0,0,0,0.5);
		border-radius: 6px;
		padding: 0.5rem 1rem;
		color: white;
	}
}

.copyButton {
	background: #4EB3E3;
	border: 1px solid #1F343E;
	color: white;
	font-size: 20px;
	font-weight: 600;
	font-family: "Noto Sans";
	border-radius: 0 8px 8px 0;
	height: 100%;
	padding: 1rem;
	border-left-width: 0;
	width: 30%;
		@include media-phone-up {    
			width: 20%;
		}
}