@use '/styles/mixins' as *;


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	width: 100%;
	@include media-desktop-up {    
		flex-direction: row;
		height: 140px;
		width: auto;
	}
	.instructionBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 255px;
		order:0;
		text-align: center;
		@include media-desktop-up {    
			text-align: left;
		}
		.orderIndicatorText {
			color: #4EB3E3;
			text-transform: uppercase;
			font-size: 20px;
		}
		.title {
			color: #1F343E;
			text-transform: uppercase;
			font-size: 32px;
			font-family: 'Caveat Brush';
			
		}
		.description {
			color: #1F343E;
			font-size: 20px;
		}
	}
}
.reverseOrder {
	flex-direction: column;
	@include media-desktop-up {    
		flex-direction: row-reverse;
	}
}
