@use '/styles/mixins' as *;

.container {
	background-color: rgb(248, 244, 249);
	padding: 6rem 0;

	h2 {
		white-space: nowrap;
	}
	.copyRights {

		@include media-phone-up {    
			display: none;
		}
	}
	.contentWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
		
		@include media-phone-up {    
			flex-direction: row;
			justify-content: space-between;
			gap: 1.5rem;
	 }

		.contactsAndSocialsBox {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;

			.contacts {
				h2 {
					text-transform: uppercase;
					margin-bottom: 1.5rem;
				}
				a {
					display: flex;
					align-items: center;
					svg {
						margin-right: 1rem;
					}
				}
			}
		}
		}
}