@use '/styles/mixins';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(31, 52, 62);
  background:  #f8cc5d;
}

a {
  text-decoration: none;
  color: rgb(31, 52, 62);
  white-space: nowrap;
  &:hover {
    color:#4eb3e3;
    transition: color 0.25s ease-in-out;
  }
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
